<section class="wrapper">
  <section id="todoapp">
    <header id="header">
      <h1>Todo App</h1>
      {{view Ember.TextField id="new-todo" placeholder="What needs to do?"
             valueBinding="newTitle" action="createTodo"}}
    </header>

      <section id="main">
      <!--//TODO: move to outlet -->
      <ul id="todo-list">
      {{#each filteredTodos itemController="todo"}}
        <li {{bind-attr class="isCompleted:completed isEditing:editing"}}>
          {{#if isEditing}}
            {{edit-todo class="edit" value=title text-cleared="removeTodo" focus-out="doneEditing" insert-newline="doneEditing"}}
          {{else}}
            <label class="checkbox">
              {{input type="checkbox" checked=isCompleted class="toggle"}}
              <span></span>
            </label>
            <label class="todo" {{action "editTodo" on="doubleClick"}}>{{title}}</label>
            <button {{action "removeTodo"}} class="destroy"></button>
          {{/if}}
        </li>
      {{/each}}
      </ul>
        <label id="toggle-all">
          {{input type="checkbox" checked=allAreDone}}
          <span></span>
        </label>
      </section>

      <footer id="footer">
        {{#link-to 'todos.filters' class="bottom" tag="button"}}filters{{/link-to}}
        <span id="todo-count"><strong>{{remaining}}</strong> left</span>

        {{#if hasCompleted}}
          <button class="bottom" {{action "clearCompleted"}} {{bind-attr class="buttonClass:hidden"}}>
            Clear completed ({{completed}})
          </button>
        {{/if}}
      </footer>
  </section>

  <footer id="info">
    <p>Double-click to edit a todo</p>
  </footer>
</section>

  {{outlet}}
